 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p> I’m a freelance Android developer, specializing in native Android apps. Ever since I built my first Android app during the final year of my studies, I have a passion for mobile apps.<br/><br/>
I create Android apps that follow the Android design guidelines and fit into the Android design ecosystem but with enough breathing room for a distinct branding.<br/><br/>
I’m interested in all kinds of cool and challenging projects but I’m especially interested in apps that make use of the user’s context (location, activity etc) to provide a magical experience. No matter what your project or idea is though, do get in touch so we can have a chat and see if we’re a fit.<br/><br/>
If you’re looking to hire a freelance Android developer to create a brand new Android app, need to make changes, add features, fix bugs to an existing app or simply need someone to bounce ideas off of, get in touch! I look forward to hearing from you!</p>
                </div>
            </div>
        </div>
    </section>
